---
title: ATutor Home
layout: home
---

		<div class="cd-container">
		    <div class="home-splash">
		    <ul>
		      <li><h2><a href="atutor/" class="splash-link">ATutor</a> </h2> 
		      <hr class="home-line" /> 
		      <p>ATutor is a FREE Open Source LMS, used to develop online courses and create elearning content. </p>
		      <ul><li><a href="http://www.atutor.ca/atutor/download.php"><span style="color: #6cc644;font-weight:700;">NEW: ATutor 2.2.3-b1 Released</span></a></li>
		        <li><a href="/atutor/features.php">ATutor Features</a></li>
		        <li><a href="/atutor/demo.php">Try the ATutor Demo</a></li>
		        </ul>
		      </li>
		      </ul>
		</div>
		<div class="home-splash">
		    <ul>
		      <li><h2><a href="acontent/" class="splash-link">AContent</a> </h2> 
		      <hr class="home-line" /> 
		      <p>AContent is a FREE Open Source LCMS, used to develop and share elearning content. Integrates with ATutor and other LMSs</p>
		      <ul><li><a href="/acontent/demo.php"><span style="color: #6cc644;font-weight:700;">TEST: AContent 1.4 Preview</span></a></li>
		        <li><a href="/acontent">About AContent</a></li>
		        <li><a href="/acontent/demo.php">Try the AContent Demo</a></li>
		        <li><a href="/acontent/downloads.php">Download AContent</a></li>
                <li><a href="/acontent/docs/index.php">AContent Documentation</a></li>
		      </ul>
		      </li>
		      </ul>
		</div>	    		    
    </div>

        <div class="repos">
            <h2>Repositories</h2>
            <ul>
            {{site.github.public_repositories}}
            {% assign public_repositories = site.github.public_repositories | sort: 'updated_at'| reverse %}
            {% for repository in public_repositories %}
                {% if repository.fork == false %}
                <li> <a href="{{ repository.html_url }}"> {{ repository.name }} </a><br /> {{ repository.description }}<br />Last updated: {{ repository.updated_at}}</li>
                {% endif %}
            {% endfor %}
            </ul>
            </div>
          </div>    
    </div> 	


 <!-- // end of #centerbar-->



<script>
  var repos = {{ site.github.public_repositories | jsonify }};
</script>
